<div class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}<b
        class="command_prompt"></b><b class="blinking_cursor">_</b></a>
    <span class="social_links">
      <a class="color-pink-hover" href="mailto:roguecatalyst@tutanota.com"><i class="fas fa-envelope-square"></i></a>
      <a class="color-cyan-hover" href="https://github.com/roguecatalyst"><i class="fab fa-github-square"></i></a>
      <a class="color-pink-hover" href="http://iitsafalta.in/"><i class="fas fa-hand-middle-finger"></i></a>
    </span>
  </div>
</div>